.audioPlayer {
	--primary: #dcd7c9;
	--secondary: #2c3639;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	color: var(--primary);
	margin: 0 auto;
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background: var(--primary); */
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--primary);
}

/* .forwardBackward {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	font-family: monospace;
	font-size: 16px;
	cursor: pointer;
}

.forwardBackward:hover {
	color: var(--primary);
} */

.audioBtns {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.playPause,
.forwardBackward {
	background: var(--primary);
	border: none;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	color: var(--secondary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.forwardBackward {
	height: 40px;
	width: 40px;
}

.playPause svg {
	height: 20px;
	width: 20px;
}

.forwardBackward svg {
	height: 16px;
	width: 16px;
}

.play {
	position: relative;
	left: 2px;
}

.currentTime,
.duration {
	font-family: monospace;
	font-size: 16px;
}

.progressBarWrapper {
	--bar-bg: #dcd7c9;
	--seek-before-width: 0;
	--seek-before-color: #2c3639;
	--knobby: #dcd7c9;
	--selectedKnobby: #2c3639;

	display: flex;
	align-items: center;
	color: var(--bar-bg);
	padding: 20px 0 10px 0;
	/* border-bottom: 1px solid var(--bar-bg); */
}

.progressBar {
	appearance: none;
	background: var(--bar-bg);
	border-radius: 10px;
	width: 100%;
	height: 11px;
	outline: none;
	margin: 0 10px;
	border: 1px solid var(--seek-before-color);
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
	background: var(--bar-bg);
	border-radius: 10px;
	width: 100%;
	height: 11px;
	outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
	background: var(--bar-bg);
	border-radius: 10px;
	width: 100%;
	height: 11px;
	outline: none;
}

.progressBar::-moz-focus-outer {
	border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
	content: "";
	height: 11px;
	width: var(--seek-before-width);
	background-color: var(--seek-before-color);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
	height: 11px;
	background-color: var(--seek-before-color);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: none;
	background-color: var(--knobby);
	cursor: pointer;
	position: relative;
	margin: -2px 0 0 0;
	z-index: 3;
	box-sizing: border-box;
	transition: all 0.15s;
}

/* knobby while dragging for chrome and safari */
.progressBar:active::-webkit-slider-thumb {
	transform: scale(1.2);
	background: var(--selectedKnobby);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 1px solid var(--selectedKnobby);
	background-color: var(--knobby);
	cursor: pointer;
	position: relative;
	z-index: 3;
	box-sizing: border-box;
	transition: all 0.15s;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb {
	transform: scale(1.2);
	background: var(--selectedKnobby);
}

.playlist {
	--primary: #dcd7c9;
	--secondary: #2c3639;

	padding-top: 20px;
	color: var(--primary);
}

.song {
	transition: all 0.15s;
}

.song:hover {
	color: #fff;
}
