@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Noto+Sans:wght@100;300;400;600;700;900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

main {
	background-image: linear-gradient(
			rgba(44, 54, 57, 0.75),
			rgba(44, 54, 57, 0.75)
		),
		url("/site-bg.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	top: 0;
	height: 100vh;
	background-position: cover;
	background-attachment: sticky;
	width: 100%;
	padding: 50px 15% 150px 15%;
	margin: 0 auto;
	position: fixed;
	overflow-y: auto;
}

@media only screen and (max-width: 450px) {
	main {
		padding: 80px 20px 50px 20px;
	}
}

.bg {
	background-image: url("/home-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100vh;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
